
	<div class="user-greeting">logged in as <a href="/profile">{{user.username}}</a></div>

	<div id="app"></div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArsgTcbNEzAbEKeM0hVCBxBgxNmDBPp-4">
    </script>
	<script src="javascripts/bundle.js"></script>
